.address-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 575px;
}

.zonecode-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 8px;
  .zone {
    width: 70%;
  }
  .search-button {
    width: 30%;
  }
}

.address {
  margin-bottom: 8px;
}
